{% extends "::base.html.twig" %}

{% block title %}Détail {{produit.nom}} | Pharma'Net{% endblock %}
{% block stylesheets %}


{% endblock %}

{% block page_header %}
                <h3 class="page-title">
                Produit</h3>
                <div class="page-bar">
                    <ul class="page-breadcrumb">
                        <li>
                            <i class="fa fa-home"></i>
                            <a href="{{path('acceuil')}}">Home</a>
                            <i class="fa fa-angle-right"></i>
                        </li>
                        <li>
                            <a href="{{path('produit')}}">Liste</a>
                            <i class="fa fa-angle-right"></i>
                        </li>
                        <li>
                            <a href="#">{{produit.nom}}</a>
                        </li>
                    </ul>
                </div>
{% endblock %}
{% block liste %} active {% endblock %}
{% block Produit %} active{% endblock %}

{% block body %}
<div class="col-md-12">
<div class="portlet box blue">
                <div class="portlet-title">
                                <div class="caption">
                                    <i class="icon-basket"></i></i>Détail produit
                                </div>
                        <div class="tools">
                           <a href="javascript:;" class="collapse">
                           </a>
                           <a href="#portlet-config" data-toggle="modal" class="config">
                           </a>
                           <a href="javascript:;" class="reload">
                           </a>
                           <a href="javascript:;" class="remove">
                           </a>
                        </div>
                     </div>
<div class="portlet-body">
     <form class="form-horizontal form-row-seperated" action="{{path('setUpdateProduit',{'id':produit.id})}}" method="POST" onsubmit="return confirm('Voulez-vous vraiment modifier ces informations du prodiit ?');">
        <div class="note note-success blue">
                                    <h2 class="title">{{produit.nom}} </h2>Code EAN13 : {{produit.ean13}}<br>
                                    Chiffre d'affaire : xxx F CFA<br>
                                    {{produit.description}}<br>
                                        Entrez des informations valide concernant le produit. <br/>
                                        Les codes ean13 est unique à chaque produit (pas de répétition).
                              </div>
                            <div class="portlet light">
                                <div class="portlet-title">
                                    <div class="caption">
                                        <i class="icon-basket blue"></i>
                                        <span class="caption-subject blue bold uppercase blue">
                                        {{produit.nom}} </span>
                                        <span class="caption-helper">{{produit.ean13}}</span>
                                    </div>
                                    <div class="actions btn-set">
                                        <button type="button" name="back" class="btn btn-default btn-circle"><i class="fa fa-angle-left"></i> Back</button>
                                        <button class="btn blue btn-circle" type="submit"><i class="fa fa-check"></i> Modifier</button>
                                        <div class="btn-group">
                                            <a class="btn yellow btn-circle" href="javascript:;" data-toggle="dropdown">
                                            <i class="fa fa-share"></i> Autres <i class="fa fa-angle-down"></i>
                                            </a>
                                            <ul class="dropdown-menu pull-right">
                                                <li>
                                                    <a href="{{path('duplicateProduit',{'id':produit.id})}}">
                                                        <i class="fa fa-cubes"></i>
                                                    Duplicate </a>
                                                </li>
                                                <li>
                                                    <a href="javascript:;">
                                                    Delete </a>
                                                </li>
                                                <li class="divider">
                                                </li>
                                                <li>
                                                    <a href="javascript:;">
                                                    Print </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="portlet-body">
                                    <div class="nav tabbable">
                                        <ul class="nav nav-pills blue">
                                            <li class="active">
                                                <a href="#tab_general" data-toggle="tab" class="blue">
                                                Général </a>
                                            </li>
                                            <li>
                                                <a href="#tab_stock" data-toggle="tab">
                                                Stock </a>
                                            </li>
                                            <li>
                                                <a href="#tab_prix" data-toggle="tab">
                                                Prix </a>
                                            </li>
                                            <li>
                                                <a href="#tab_geo" data-toggle="tab">
                                                Geo </a>
                                            </li>
                                            <li>
                                                <a href="#tab_vente" data-toggle="tab">
                                                Vente </a>
                                            </li>
                                            <li>
                                                <a href="#tab_history" data-toggle="tab">
                                                Réappro </a>
                                            </li>
                                        </ul>
                                        <div class="tab-content no-space">
                                            <div class="tab-pane active" id="tab_general">
                                                <div class="form-body">
                                                    <div class="form-group">
                                                        <label class="col-md-3 control-label">ean13: <span class="required">
                                                        * </span>
                                                        </label>
                                                        <div class="col-md-4">
                                                            <input type="text" class="form-control" name="ean13" required value="{{produit.ean13}}">
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="col-md-3 control-label">nom: <span class="required">
                                                        * </span>
                                                        </label>
                                                        <div class="col-md-4">
                                                            <input type="text" class="form-control" name="nom"value="{{produit.nom}}" required/>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="col-md-3 control-label">Description: <span class="required">
                                                        * </span>
                                                        </label>
                                                        <div class="col-md-4">
                                                            <input type="text" class="form-control" name="description" value="{{produit.description}}"/>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="col-md-3 control-label">no Lot: <span class="required">
                                                        * </span>
                                                        </label>
                                                        <div class="col-md-4">
                                                            <input type="number" class="form-control" name="nolot" value="{{produit.noLot}}"/>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="col-md-3 control-label">Conténance: <span class="required">
                                                        * </span>
                                                        </label>
                                                        <div class="col-md-4">
                                                            <input type="text" class="form-control" name="contenance" placeholder="" value="{{produit.contenance}}">
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <label class="col-md-3 control-label">Unité: <span class="required">
                                                        * </span>
                                                        </label>
                                                        <div class="col-md-4">
                                                            <select class="form-control input-xlarge select2me" name="unite" value="{{produit.unite.nom}}">
                                                                {% for un in unite %}
                                                                <option value="{{un.id}}">{{un.nom}}</option>
                                                                {% endfor %}
                                                             </select>
                                                        </div></div>
                                                </div>
                                            </div>
                                            <div class="tab-pane" id="tab_stock">
                                                <div class="form-body">
                                                    <div class="form-group">
                                                        <label class="col-md-3 control-label">Quantité en stock :<span class="required" >
                                                        * </span></label>
                                                        <div class="col-md-4">
                                                            <input type="number" class="form-control" name="stock" maxlength="100" value="{{produit.stock}}" required>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="col-md-3 control-label">Quantité Max en stock:<span class="required">
                                                        * </span></label>
                                                        <div class="col-md-4">
                                                            <input type="number" class="form-control" name="stockmax" maxlength="100" value="{{produit.stockMax}}" required>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="col-md-3 control-label">Quantité Min en stock:<span class="required">
                                                        * </span></label>
                                                        <div class="col-md-4">
                                                            <input type="number" class="form-control" name="stockmin" maxlength="100" value="{{produit.stockMin}}" required>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="col-md-3 control-label">Date de péremption:<span class="required">
                                                        * </span></label>
                                                        <div class="col-md-4">
                                                            <div class="input-group">
                                                               <input class="form-control" id="dateDebut" name="datPeremp" placeholder="Date de péremption" value="{{produit.datePeremption|date('d-m-Y')}}" required>
                                                               <span class="input-group-addon">
                                                               <i class="fa fa-calendar"></i>
                                                               </span>
                                                            </div>
                                                         </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="col-md-3 control-label">Date de Commande:<span class="required">
                                                        * </span></label>
                                                        <div class="col-md-4">
                                                            <div class="input-group">
                                                               <input class="form-control" id="dateDebut" name="datCmd" placeholder="Date de Commande" type="text" value="{{produit.dateCmd|date('d-m-Y')}}">
                                                               <span class="input-group-addon">
                                                               <i class="fa fa-calendar"></i>
                                                               </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="col-md-3 control-label">Génerique:<span class="required">
                                                        * </span></label>
                                                        <div class="col-md-4">
                                                            <input type="text" class="form-control" name="generique" maxlength="100" value="{{produit.generique}}">
                                                        </div>
                                                    </div>
                                                  </div>
                                                </div>
                                                <div class="tab-pane" id="tab_prix">
                                                    <div class="form-body">
                                                    <div class="form-group">
                                                        <label class="col-md-3 control-label">Prix Public (F cfa):<span class="required">
                                                        * </span></label>
                                                        <div class="col-md-4">
                                                            <div class="input-group">
                                                               <input class="form-control" placeholder="Prix Public" type="number" name="pp" value="{{produit.prixPublic}}" required>
                                                               <span class="input-group-addon">
                                                               <i class="fa fa-dollar"></i>
                                                               </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="col-md-3 control-label">Prix Achat (F cfa):<span class="required">
                                                        * </span></label>
                                                        <div class="col-md-4">
                                                            <div class="input-group">
                                                               <input class="form-control" id="dateDebut"  required name="pa" placeholder="Prix Achat" type="number" value="{{produit.prixAchat}}">
                                                               <span class="input-group-addon">
                                                               <i class="fa fa-dollar"></i>
                                                               </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="col-md-3 control-label">tva:<span class="required">
                                                        * </span></label>
                                                        <div class="col-md-4">
                                                            <div class="input-group">
                                                               <input class="form-control" name="tva" type="number" value="{{produit.tva}}" required>
                                                               <span class="input-group-addon">
                                                               <i class="fa fa-dollar"></i>
                                                               </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                  </div>
                                                </div>
                                                <div class="tab-pane" id="tab_geo">
                                                    <div class="form-body">
                                                    <div class="form-group">
                                                        <label class="col-md-3 control-label">Categorie :<span class="required">
                                                        * </span></label>
                                                            <div class="col-md-4">
                                                            <select class="form-control input-xlarge select2me" name="cat" value="{{produit.categorie.nom}}">
                                                                {% for un in categorie %}
                                                                <option value="{{un.id}}">{{un.nom}}</option>
                                                                {% endfor %}
                                                             </select>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="col-md-3 control-label">Rayon :<span class="required">
                                                        * </span></label>
                                                        <div class="col-md-4">
                                                               <select class="form-control input-xlarge select2me" name="ray" value="{{produit.rayon.nom}}">
                                                                {% for un in rayon %}
                                                                <option value="{{un.id}}">{{un.nom}}</option>
                                                                {% endfor %}
                                                             </select>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="col-md-3 control-label">Magasin :<span class="required">
                                                        * </span></label>
                                                        <div class="col-md-4">
                                                               <select class="form-control input-xlarge select2me" name="mag" value="{{produit.magasin.nom}}">
                                                                {% for un in mag %}
                                                                <option value="{{un.id}}">{{un.nom}}</option>
                                                                {% endfor %}
                                                             </select>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="col-md-3 control-label">Forme :<span class="required">
                                                        * </span></label>
                                                        <div class="col-md-4">
                                                               <select class="form-control input-xlarge select2me" name="forme" value="{{produit.forme.nom}}">
                                                                {% for un in forme %}
                                                                <option value="{{un.id}}">{{un.nom}}</option>
                                                                {% endfor %}
                                                             </select>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="col-md-3 control-label">Fabriquant :<span class="required">
                                                        * </span></label>
                                                        <div class="col-md-4">
                                                               <select class="form-control input-xlarge select2me" name="fab" value="{{produit.fabriquant.nom}}">
                                                                {% for un in fabriquant %}
                                                                <option value="{{un.id}}">{{un.nom}}</option>
                                                                {% endfor %}
                                                             </select>
                                                        </div>
                                                    </div>
                                                  </div>
                                                </div>
                                                <div class="tab-pane" id="tab_vente">
                                                    <table class="table table-striped table-bordered table-hover" id="prod">
                                                        <thead>
                                                                    <tr>
                                                                        <th class="table-checkbox">
                                                                            <input type="checkbox" class="group-checkable" data-set="#prod .checkboxes"/>
                                                                        </th>
                                                                       <th>
                                                                           Date & heure
                                                                       </th>
                                                                       <th>
                                                                           Malade
                                                                       </th>
                                                                       <th>
                                                                           Quantité
                                                                       </th>
                                                                       <th>
                                                                           prix Unit
                                                                       </th>
                                                                       <th>
                                                                           Montant TTC
                                                                       </th>
                                                                    </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                        {% set tq = 0 %} {% set tm=0 %} 
                                                                        {% for vente in produit.produitVendu %}
                                                                        <tr>
                                                                            <td>
                                                                                <input type="checkbox" class="checkboxes" value="1"/>
                                                                            </td>
                                                                            <td>{{vente.vente.dateVente|date('d/m/Y H:i')}}</td> 
                                                                            <td>{{vente.vente.malade.nom}}</td>
                                                                            <td>{{vente.qtiteVendu}} {% set tq = tq + vente.qtiteVendu %}</td>
                                                                            <td>{{vente.prixUnit}}</td>
                                                                            <td>{{vente.montantTTC}} {% set tm = tm + vente.montantTTC %} </td>
                                                                        </tr>
                                                                        {% endfor %}
                                                                    </tbody>
                                                                    <tfoot>
                                                                        <tr class="success">
                                                                            <th colspan="3">Totaux</th>
                                                                            <td>{{tq}}</td>
                                                                            <td></td>
                                                                            <td>{{tm}} F CFA</td>
                                                                        </tr>
                                                                    </tfoot>
                                                                </table>
                                                </div>
                                                <div class="tab-pane" id="tab_history">
                                                    <table class="table table-striped table-bordered table-hover" id="unite">
                                                        <thead>
                                                                    <tr>
                                                                        <th class="table-checkbox">
                                                                            <input type="checkbox" class="group-checkable" data-set="#unite .checkboxes"/>
                                                                        </th>
                                                                       <th>
                                                                           Date
                                                                       </th>
                                                                       <th>
                                                                           Fournisseur
                                                                       </th>
                                                                       <th>
                                                                           Quantité
                                                                       </th>
                                                                       <th>
                                                                           prix Unit
                                                                       </th>
                                                                       <th>
                                                                           Montant TTC
                                                                       </th>
                                                                    </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                        {% set tq = 0 %} {% set tm=0 %}                                                                       
                                                                        {% for cmd in produit.produitCmd %}
                                                                        <tr>
                                                                            <td>
                                                                                <input type="checkbox" class="checkboxes" value="1"/>
                                                                            </td>
                                                                            <td>{{cmd.commande.dateLivraison|date('d/m/Y H:i')}}</td> 
                                                                            <td>{{cmd.commande.fournisseur.nom}}</td>
                                                                            <td>{{cmd.quantiteCmd}}{% set tq = tq + cmd.quantiteCmd %}</td>
                                                                            <td>{{cmd.prixTTC}}</td>
                                                                            <td>{{cmd.prixTTC}} {% set tm= tm + cmd.prixTTC %} </td>
                                                                        </tr>
                                                                        {% endfor %}
                                                                    </tbody>
                                                                    <tfoot>
                                                                        <tr class="success">
                                                                            <th colspan="3">Totaux</th>
                                                                            <td>{{tq}}</td>
                                                                            <td></td>
                                                                            <td>{{tm}} F CFA</td>
                                                                        </tr>
                                                                    </tfoot>
                                                                </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form> 
            </div>   
</div>
</div>
{% endblock %}

{% block javascripts %}
<script type="text/javascript" src="{{ asset('public/bootstrap-datepicker/js/bootstrap-datepicker.min.js') }}"></script>

<script>
    $(document).ready(function(){
      var date_input=$('input[name="datPeremp"]'); //our date input has the name "date"
      var container=$('.bootstrap-iso form').length>0 ? $('.bootstrap-iso form').parent() : "body";
      var options={
        format: 'dd-mm-yyyy',
        container: container,
        todayHighlight: true,
        autoclose: true,
      };
      date_input.datepicker(options);

      var date_input=$('input[name="datCmd"]'); //our date input has the name "date"
      var container=$('.bootstrap-iso form').length>0 ? $('.bootstrap-iso form').parent() : "body";
      var options={
        format: 'dd-mm-yyyy',
        container: container,
        todayHighlight: true,
        autoclose: true,
      };
      date_input.datepicker(options);
    })
</script>
{% endblock %}
